<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Open API resources</title>
    <link rel="icon" href="https://documentation.bonitasoft.com/_/img/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://documentation.bonitasoft.com/_/stylesheets/site.css"/>
</head>
<main class="article">
    <body class="article">
    <div class="article">
        <div class="content">
            <article class="doc">
                <h1 class="page">Open API ressources</h1>
                <h2>Download resources
                </h2>
                <div class="sect1 card-section">
                    <div class="sectionbody">
                        <div class="openblock card card-index">
                            <div class="content">
                                <div class="paragraph">
                                    <p>
                                        <a href="https://github.com/bonitasoft/bonita-openapi/releases/download/{{ open_api_release }}/bonita-openapi-{{ open_api_release }}.yaml"
                                           download class="xref page">

                                            <span class="card-title"><img src="images/openapi.png"></span>
                                            <span class="card-body card-content-overflow">
                                Download <br/><em>bonita-openapi-{{ open_api_release }}.yaml</em></span></a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="openblock card card-index">
                            <div class="content">
                                <div class="paragraph">
                                    <p>
                                        <a href="https://github.com/bonitasoft/bonita-openapi/releases/download/{{ open_api_release }}/bonita-postman-collection-{{ open_api_release }}.json"
                                           download class="xref page">
                                            <span class="card-title"><img src="images/postman.png"></span>
                                            <span class="card-body card-content-overflow">Download<br/><em>bonita-postman-collection-{{ open_api_release }}.json</em></span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h2>Live examples</h2>
                <div class="sect1 card-section">
                    <div class="sectionbody">

                        <div class="openblock card card-index">
                            <div class="content">
                                <div class="paragraph">
                                    <p>
                                        <a href="http://{{ publicDnsName }}:8083" target="_blank" class="xref page">
                                            <span class="card-title"><img src="images/redoc.png"></span>
                                            <span class="card-body card-content-overflow">
                                Redoc REST API Documentation</span></a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="openblock card card-index">
                            <div class="content">
                                <div class="paragraph">
                                    <p>
                                        <a href="http://{{ publicDnsName }}:8082" target="_blank" class="xref page">
                                            <span class="card-title"><img src="images/swagger.png"></span>
                                            <span
                                                    class="card-body card-content-overflow">
                                Swagger UI</span></a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="openblock card card-index">
                            <div class="content">
                                <div class="paragraph">
                                    <p>
                                        <a href="http://{{ publicDnsName }}:8081/bonita" target="_blank" class="xref page">
                                            <span class="card-title"><img src="images/Bonitasoft_Logo.png"></span>
                                            <span
                                                    class="card-body card-content-overflow">
                                Bonita 2022.2 Community Edition</span></a>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </article>
        </div>
    </div>
    </body>
</main>
</html>